<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chicken-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{234,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{202,727},{234,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{234,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{600,479},{234,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{172,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1804,395},{172,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{166,201}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1619,1},{166,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{160,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1531,730},{160,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{158,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1804,569},{158,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{156,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1853,729},{156,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{158,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1693,729},{158,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{164,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1402,564},{164,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{176,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1402,386},{176,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{196,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1822,1},{196,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{216,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1000,445},{216,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{232,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{600,715},{232,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{236,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{401,241},{236,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{248,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1,255},{248,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{252,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{248,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1,505},{248,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{232,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{799,1},{232,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{214,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1000,663},{214,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{194,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1619,169},{194,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{176,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1201,396},{176,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{164,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1201,574},{164,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{162,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1367,740},{162,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{230,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{799,475},{230,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{164,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1201,740},{164,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{170,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1603,549},{170,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{182,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1603,365},{182,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{194,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1820,199},{194,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{206,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1,755},{206,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1000,223},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{230,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{801,235},{230,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{236,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{600,1},{236,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{240,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{202,1},{240,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{240,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{202,243},{240,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{226,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{799,707},{226,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{240,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{202,485},{240,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{238,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{401,1},{238,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{236,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{401,479},{236,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{236,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{401,717},{236,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{234,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{602,239},{234,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1000,1},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{212,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1201,1},{212,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{202,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1415,1},{202,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{192,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1201,202},{192,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{182,199}</string>
                <key>spriteSourceSize</key>
                <string>{256,233}</string>
                <key>textureRect</key>
                <string>{{1402,202},{182,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chicken.png</string>
            <key>size</key>
            <string>{2022,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6f5f86e818d3b3daf6a6cc6a32482cf:dd5ee5e7278926178d64d0634cc862b3:b60b998ddfb786ae4ed14798eabfa5ea$</string>
            <key>textureFileName</key>
            <string>chicken.png</string>
        </dict>
    </dict>
</plist>
